html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#d2f8ff, #badbe2, white, white, white, white);
}
center h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
hr{
    border: 2px solid black;
}

/* infomracion abajo */
section{
    background-color:#078096;
  
}
hr{
    border: 2px solid black;
}
section h6{
    text-align: right;
    padding-bottom: 5px;
    padding-right: 30px;
}
section h1{
    padding-top: 40px;
}
section h1, h4{
    text-align: center;
}
/* CSS pagina de sobre nosotros */
.formato h2{
    background-color: #0CD1F5;
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 10px;
    border-bottom: 8px double black;
}
.formato h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    text-shadow: 1px 1px 7px white;
    background-color: #078096;
    border-radius: 20px;
}
.formato span{
    font-weight: bold;
    color: #078096;
}
.formato p, ul{
    padding: 10px;
}