html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#d2f8ff, #badbe2, white, white, white, white);
}
center h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
ul{
    text-align: center;
}
li{
    background-color: #078096;
    text-align: center;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    float: left;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
li a{
    display: block;
    color: white;
    padding: 2px;
    text-decoration: none;
}

li:hover{
    background-color: #0CD1F5;
}
li a:hover{
    color: black;
}
ul{
    color: white;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
hr{
    border: 2px solid black;
}
.portada{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.portada img{
    border: 10px double #078096;
    border-radius: 5px;
    width: 90%;
}
/* infomracion abajo */
section{
    background-color:#078096;
  
}
hr{
    border: 2px solid black;
}
section h6{
    text-align: right;
    padding-bottom: 5px;
    padding-right: 30px;
}
section h1{
    padding-top: 40px;
}
section h1, h4{
    text-align: center;
}
/* En tu archivo CSS */
.inicio {
    color: black;
    font-weight: bold;
    background-color: #0CD1F5;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}
